<h1>New Album</h1>

<form action="/albums" method="POST">
    <p>
        <label>Artist:</label>
        <input type="text" id="artist" name="artist" placeholder="Artist Name" />
    </p>
    <p>
        <label>Album:</label>
        <input type="text" id="album" name="album" placeholder="Album Name" />
    </p>
    <button type="submit">Añadir</button>
</form>

<a href="/albums">Volver</a>
