html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 > small {
    font-size: 65%;
}

.wrapper {
    width: 960px;
    padding: 5px 0;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

a.btn {
    color: white;
    background-color: transparent;
    padding: 8px 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-horizontal ul {
    width: 100%;
    overflow: hidden;
}

.navbar-horizontal ul li {
    float: left;
}

.navbar-horizontal ul li a {
    padding: 10px 15px;
    display: block;
}

.navbar-horizontal ul li.item-right {
    float: right;
}

.navbar-horizontal ul li a {
    color: white;
    text-decoration: none;
}

#navbar-top {
    background-color: #333;
    border-bottom: 2px seagreen solid;
}

img.img-profile {
    background-color: white;
}

.banner {
    color: white;
    background-color: darkviolet;
}

.banner .content {
    padding: 50px 0;
}

.three-blocks {
    margin: 0 auto 50px auto;
}

#features {
    background-color: #ddd;
}

#team {
    color: white;
    background-color: darkblue;
}

.three-blocks > .block {
    height: 100px;
    width: 28%;
    position: relative;
    display: inline-block;
}

.three-blocks > .block + .block {
    margin: 0 1%;
}

#features .three-blocks > .block {
    background-color: white;
}
