<h1>Create User</h1>
<form action="/users/create" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" />
    <br />
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" />
    <br />
    <button type="submit">Crear Usuario</button>
</form>
