/* Print */
@media print {
}

/* Extra Small Screens */
@media (max-width: 767px) {
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Medium Screens */
@media (min-width: 992px) {
}

/* Large Screens */
@media (min-width: 1200px) {
}
